/* /* ------------
contact.css
- Reset
- Animación del background
- Header
- Formulario
- @Medias
- @Keyframes
------------- * */

/* ---- Reset CSS ---- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.5rem;
    color: white;
    background-color: #2A2D34;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
    font-style: normal;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

img,
svg,
video,
iframe,
picture {
    display: block;
    width: 100%;
    max-width: 100%;
}

form,
input,
textarea,
option,
label,
button {
    display: block;
    font-size: 1em;
    font-family: inherit;
    background-color: transparent;
}

/* ---- Reset CSS ---- */

/* ---- ANIMACIÓN DEL BACKGROUND ---- */
/* Descripción: Estilos para la animación de fondo de la web */
.circulos {
    width: 100%;
    height: 100%;
    background-color: #2A2D34;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.circulo {
    width: 20%;
    height: 20%;
    border: 3.125rem solid #7D53DE;
    border-radius: 50%;
    filter: blur(3rem);
    /*Nos permite desenfocar los círculos*/

    position: absolute;
    top: 40%;
    left: 40%;

    animation: expand 60s linear infinite both;
}

.blue {
    border: 3.125rem solid #009DDC;

    animation: expandblue 60s linear infinite both;
}

/* ---- ANIMACIÓN DEL BACKGROUND ---- */

/* ---- HEADER CON ENLACE PARA EL INICIO ---- */
/* Descripción: Estilos para el header que contiene el logo de la web */
.header {
    width: 100%;
    /* background-color: aqua; */

    padding: 1rem;

    display: flex;
}

.home {
    /* background-color: grey; */
    margin: auto;
}

/* ---- HEADER CON ENLACE PARA EL INICIO ---- */

/* ---- FORMULARIO ---- */
/* Descripción: Estilos para el header que contiene el logo de la web 
   Estructura:
   - .section: Contiene el formulario en sí.
   - .section__h2
   - .form: El formulario con las redes sociales
*/

.section {
    width: 90%;
    max-width: 75rem;
    min-height: 37.5rem;
    background-color: #2a2d34d2;

    padding: 5rem 3rem;
    margin: 5rem auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;

    box-shadow: 1.75rem 1.75rem 3.5rem #24262c,
        -1.75rem -1.75rem 3.5rem #30343c;
}

.section__h2 {
    width: 50%;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 5rem;
}

.form {
    width: 50%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.form__p {
    margin: 0 0 1rem;

    font-family: 'Libre Baskerville', serif;
    font-size: .8em;
    font-weight: 400;
}

.form__a {
    text-decoration: underline;
}

.form__input {
    width: 100%;
    max-width: 25rem;
    min-height: 1.875rem;
    background-color: #2A2D34;

    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: .8em;
    font-weight: 400;

    padding: 5px;

    border-radius: 5px;

    outline: none;
    border: 1px solid white;
}

.form__textarea {
    width: 100%;
    max-width: 25rem;
    background-color: #2A2D34;

    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: .8em;
    font-weight: 400;

    padding: 5px;

    border-radius: 5px;

    outline: none;
    border: 1px solid white;
}

.submit {
    width: 5rem;
    cursor: pointer;
    border-radius: .625rem;

    color: white;

    transition: color .5s ease;
    transition: background-color .5s ease;
}

.submit:hover {
    background-color: white;
    color: #2A2D34;
}

.submit:active {
    transform: scale(.9);
}

.form__ul {
    margin: 1rem 0 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.form__li {
    transition: all .5s ease;
}

.form__li:hover {
    transform: scale(1.1);
    color: #009DDC;
}

.form__svg {
    width: 1.7rem;
    height: 1.7rem;
}

/* ---- FORMULARIO ---- */

/* ---- @MEDIAs ---- */
/* Descripción: Estilos para adaptar la web a resoluciones menores */
@media (max-width: 66.25rem) {
    .section__h2 {
        font-size: 3.5em;
        line-height: 4.5rem;
    }
}

@media (max-width: 55.625rem) {
    .section__h2 {
        font-size: 3em;
        line-height: 4rem;
    }
}

@media (max-width: 48rem) {
    .section {
        /*Cambia el orden de los elementos de filas a columnas*/
        flex-flow: column nowrap;
    }

    .section__h2 {
        width: 100%;
    }

    .form {
        width: 100%;
    }
}

@media (max-width: 28.125rem) {
    .section {
        padding: 5rem 1rem;
    }

    .section__h2 {
        font-size: 1.5em;
        line-height: 2rem;
    }
}

/* ---- @MEDIAs ---- */

/* ---- KEYFRAMEs ---- */
@keyframes expand {

    /* Esta animación hacer referencia al circulo violeta, haciendo que empiece pequeño y se vaya expandiendo */
    0% {
        width: 20%;
        height: 20%;

        top: 40%;
        left: 40%;
    }

    50% {
        width: 100%;
        height: 100%;

        top: 0%;
        left: 0%;
    }

    100% {
        width: 20%;
        height: 20%;

        top: 40%;
        left: 40%;
    }

    /* Trabajar en porcentajes, junto al "infinite" del animation, permite hacer que la animación ocurra en bucle sin interrupciones */
}

@keyframes expandblue {

    /* Esta animación hacer referencia al circulo azul, haciendo que empiece grande y se vaya contrayendo */
    0% {
        width: 100%;
        height: 100%;

        top: 0%;
        left: 0%;
    }

    50% {
        width: 20%;
        height: 20%;

        top: 40%;
        left: 40%;
    }

    100% {
        width: 100%;
        height: 100%;

        top: 0%;
        left: 0%;
    }
}

/* ---- KEYFRAMEs ---- */